.wrapper,
.wrapperLeft {
  height: 460px;
  width: 420px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.wrapperLeft {
  flex-direction: row-reverse;
}

.wrapper {
  margin: 10px;
}

.slider {
  width: 17%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 425px;
  overflow: auto;
}

.slider::-webkit-scrollbar {
  width: 1px; /*scrollbar is small and white so it is invisible*/
}

.slider::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 2px;
}

.slider::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sliderImageSmall {
  height: 50px;
  width: 35px;
  border-radius: 8px;
  background-color: #d9d9d9;
  cursor: pointer;
  min-height: 45px;
  min-width: 35;
}

.slideImage {
  height: 80px;
  min-height: 70px;
  width: 100%;
  min-width: 55px;
  border-radius: 16px;
  background-color: #d9d9d9;
  cursor: pointer;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 20px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.sliderBg {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  z-index: 1;
}

.imageChangeContainer {
  color: #fff;
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  position: relative;
  bottom: 50px;
}

.imageChangeContainer div {
  cursor: pointer;
}

.bigImg {
  height: 430px;
  width: 350px;
  background-color: #d9d9d9;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
}

.numContainer {
  width: 350px;
  display: flex;
  justify-content: end;
  padding: 15px;
  position: absolute;
}

.checkpointNumber {
  background-color: #9c9c9c;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  padding: 7px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.caption {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #757575;
}
