.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #000;
  text-transform: uppercase;
}

.cardContainer {
  display: flex;
  gap: 20px;
}
