.iconOpen {
  rotate: 180deg;
}

.citySmallSelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  width: 100%;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: Familjen Grotesk;
  font-weight: 600;
  font-size: 40px;
  line-height: 46px;
  cursor: pointer;
}

.citySelect:focus,
.citySmallSelect,
.langSelect {
  outline: none;
}

.citySmallSelect {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #757575;
}

/*Language select*/

.langSelect {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px 8px;
}

.selectIconLang {
  width: 10px;
  height: 10px;
}

.cityDropdown {
  position: absolute;
  top: 110%;
  left: 0;
  background: #fff;
  border: 1px solid #e0e0e0;
  width: 100%;
  border-radius: 8px;
  z-index: 10;
}

.cityOptionItem {
  padding: 10px;
  cursor: pointer;
}

.cityOptionItem:hover {
  background-color: #f2f2f2;
}

.selectWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.customSelect {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  position: relative;
}

.selectedText {
  font-family: Familjen Grotesk;
  font-weight: 600;
  font-size: 40px;
  line-height: 46px;
  color: #000;
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  margin-top: 5px;
  z-index: 10;
  list-style: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}

.dropdownItem {
  padding: 0px 10px;
  cursor: pointer;
  font-family: Familjen Grotesk;
  font-size: 26px;
  color: #000;
}

.dropdownItem:hover {
  background-color: #f2f2f2;
  border-radius: 8px;
}
