.input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #0d0d0d;
  background-color: white;
}

.input:focus {
  outline: none;
}

.inputContainer {
  position: relative;
  width: 100%;
  display: flex;
}

/* .inputUl {
  margin-top: 0.5rem;
  padding: 0;
  list-style: none;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
} */

.inputUl {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;

  margin-top: 0.25rem;
  padding: 0;
  list-style: none;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}

.inputLi {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  padding: 10px;
  /* padding: 0.75rem 1rem; */
  cursor: pointer;
  transition: background 0.2s ease;
}

.inputLi:hover {
  background-color: #f0f0f0;
}
