.wrapper {
  width: calc(100vw - 60px);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 40px;
}

.firstRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: fit-content;
}

.citySelect {
  color: black;
  font-family: Familjen Grotesk;
  font-weight: 600;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  display: flex;
  gap: 10px;
  width: 100%;
}

.in,
.routes {
  color: #757575;
}

.in {
  display: flex;
  justify-content: center;
  align-items: center;
}

.routes {
  font-family: Familjen Grotesk;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 200px;
}

.lastRow {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
}
