.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 40px;
  border-radius: 24px;
  position: relative;
  width: fit-content;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-height: 800px;
  overflow: auto;
}

.modal::-webkit-scrollbar {
  width: 1px; /*scrollbar is small and white so it is invisible*/
}

.modal::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 2px;
}

.modal::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #adadad;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  height: 32px;
  width: 32px;
  border: none;
}

.content {
  text-align: center;
}
