.wrapper {
  display: flex;
  background-color: white;
}

.container {
  width: 100%;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 40px 0;
}

.createBtn {
  position: fixed;
  background-color: #0d0d0d;
  border-radius: 32px;
  color: #fff;
  padding: 8px 16px;
  bottom: 30px;
  left: 48%;
  height: 50px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
