.wrapper {
  width: 320px;
  padding: 10px;
  background-color: #fff;
  color: #0d0d0d;
}

.fakeImage {
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.bgImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.tagContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 5px;
  gap: 20px;
  width: 300px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 210px;
}

.tag,
.checkpointNumber {
  background-color: #ffffffbf;
  font-family: Inter;
  font-weight: 400;
  font-size: 12.41px;
  line-height: 14.89px;
  letter-spacing: 0px;
  color: #0d0d0d;
  padding: 7px;
  border-radius: 5px;
  text-transform: uppercase;
}

.checkpointNumber {
  height: fit-content;
  width: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.done {
  background-color: #00af00;
  color: #fff;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  max-width: 300px;
}

.title {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.city,
.info {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #757575;
  max-width: 280px;
  width: 280px;
}

.aliner {
  display: flex;
  align-items: center;
  gap: 3px;
}

.info {
  display: flex;
  align-items: center;
  gap: 6px;
}
