.selectWrapper {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.iconOpen {
  rotate: 180deg;
}

/*City style*/

.citySelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  width: 100%;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: Familjen Grotesk;
  font-weight: 600;
  font-size: 40px;
  line-height: 46px;
  cursor: pointer;
}

.citySelect:focus,
.langSelect {
  outline: none;
}

.cityOption {
  cursor: pointer;
}

/*Language select*/

.langSelect {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background: none;
  border: none;
  cursor: pointer;
}

.selectIconLang {
  width: 10px;
  height: 10px;
}
