.loginWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px;
  background-image: url("../../../../public/assets/Background\ -\ XL.png");
  background-size: cover;
  background-position: right;
  height: 100vh;
}

.formWrapper {
  width: 38%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
