.stepWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  gap: 100px;
}

.leftPane {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
}

.heading {
  font-size: 16px;
  font-weight: bold;
}

.rightPane {
  flex: 1;
  position: relative;
}

.mapPlaceholder {
  width: 100%;
  height: 100%;
  display: flex;
}

.mapImage {
  width: 750px;
  height: 450px;
  background-color: #d9d9d9;
  border-radius: 16px;
}

.btnsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.addCheckpointBtn,
.deleteCheckpointBtn {
  width: 100%;
  height: 48px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.deleteCheckpointBtn {
  background-color: #f2f2f2;
}

.map {
  width: 100%;
  height: 450px;
  border-radius: 8px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #0d0d0d;
}
