.logInIcon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #000;
  font-family: Familjen Grotesk;
  font-weight: 600;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
}

.logInBtn {
  width: 415px;
  height: 52px;
  background-color: #969696;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  cursor: pointer;
}

.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.registrationP {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #adadad;
}

.registrationLink {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -2%;
  color: #000;
}

.forgotPass {
  width: 100%;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #adadad;
  padding-right: 50px;
  margin-top: -30px;
}

.forgotPass:hover,
.registrationLink:hover {
  text-decoration: underline;
}

.inpContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
